NoReverseMatch at /en/listings/1
Reverse for 'schools' not found. 'schools' is not a valid view function or pattern name.
Request Method:	GET
Request URL:	http://127.0.0.1:8000/en/listings/1
Django Version:	5.2.1
Exception Type:	NoReverseMatch
Exception Value:	
Reverse for 'schools' not found. 'schools' is not a valid view function or pattern name.
Exception Location:	C:\Users\HIrwa T\Downloads\Video\school-finder-main\school-finder\venv\Lib\site-packages\django\urls\resolvers.py, line 831, in _reverse_with_prefix
Raised during:	listings.views.ListingDetailView
Python Executable:	C:\Users\HIrwa T\Downloads\Video\school-finder-main\school-finder\venv\Scripts\python.exe
Python Version:	3.12.6
Python Path:	
['C:\\Users\\HIrwa T\\Downloads\\Video\\school-finder-main\\school-finder',
 'C:\\Users\\HIrwa '
 'T\\AppData\\Local\\Programs\\Python\\Python312\\python312.zip',
 'C:\\Users\\HIrwa T\\AppData\\Local\\Programs\\Python\\Python312\\DLLs',
 'C:\\Users\\HIrwa T\\AppData\\Local\\Programs\\Python\\Python312\\Lib',
 'C:\\Users\\HIrwa T\\AppData\\Local\\Programs\\Python\\Python312',
 'C:\\Users\\HIrwa '
 'T\\Downloads\\Video\\school-finder-main\\school-finder\\venv',
 'C:\\Users\\HIrwa '
 'T\\Downloads\\Video\\school-finder-main\\school-finder\\venv\\Lib\\site-packages']
Server time:	Sun, 11 May 2025 19:09:21 +0200
Error during template rendering
In template C:\Users\HIrwa T\Downloads\Video\school-finder-main\school-finder\templates\listings\listing.html, error at line 20

Reverse for 'schools' not found. 'schools' is not a valid view function or pattern name.
10	
11	<!-- Breadcrumb -->
12	<section id="bc" class="mt-3">
13	  <div class="container">
14	    <nav>
15	      <ol class="breadcrumb">
16	        <li class="breadcrumb-item">
17	          <a href="{% url 'index' %}">{{ _("Home") }}</a>
18	        </li>
19	        <li class="breadcrumb-item">
20	          <a href="{% url 'schools' %}">{{ _("Schools") }}</a>
21	        </li>
22	        <li class="breadcrumb-item active">{{ school.name }}</li>
23	      </ol>
24	    </nav>
25	  </div>
26	</section>
27	
28	<!-- Alerts -->
29	{% include 'core/partials/_alerts.html' %}
30	